.photo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    width: 16rem;
    border-radius: 50%;
     margin-top: 3rem;
    margin-left: 6rem; 
    padding: 0.3rem;
    border: 1px solid var(--primary-white);
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}
@media(max-width:768px){
    .photo-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}